<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NguyenTanDuc Nodejs</title>
</head>
<body>
    <h1>Hello world with Web</h1>
    <pre class="json" ><%=data%></pre>
    <script>
        const jsonElement = document.querySelector('.json');
        prettyPrintJson(jsonElement.innerText);
    </script>
</body>
